<div class="container mt-2">
  <div *ngIf="(basket$ | async) === null">
    <p>There Is No Items In Your Basket</p>
  </div>

  <div *ngIf="basket$ | async as basket">
    <div class="pb-5">
      <div class="container">
        <div class="row">
          <div class="col-12 py-5 mb-1">
            <app-basket-summry
              (increment)="incrementItemQuantity($event)"
              (decrement)="decrementItemQuantity($event)"
              (remove)="removeBasketItem($event)"
            ></app-basket-summry>
          </div>
        </div>

        <div class="row">
          <div class="col-6 offset-6">
            <app-order-totals></app-order-totals>
            <a
              routerLink="/checkout"
              class="btn btn-outline-primary py-2 btn-block"
            >
              Procedd To CheckOut
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
